<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__info">
        <div class="footer__info-number">
          <div class="info__number-link">
            <a href="tel:+78123351717">+7 (812) 335-17-17</a>
          </div>
          <div class="info__number-text">
            Не можете найти причал? Остались вопросы? Позвоните нам!
          </div>
          <div class="footer__img">
            <picture>
              <source srcset="../img/footer-logo.avif" type="image/avif">
              <source srcset="../img/footer-logo.webp" type="image/webp">
              <img loading="lazy" src="../img/footer-logo.png" class="image" alt="">
            </picture>
          </div>
        </div>
        <div class="footer__social">
          <div class="footer__social-box">
            <div class="social-link">
              <a href="#">ВКонтакте</a>
            </div>
            <div class="social-link">
              <a href="mailto:meteor@riverport.spb.ru">meteor@riverport.spb.ru</a>
            </div>
          </div>
          <div class="footer__social-box">
            <div class="social-link">
              <a href="#">Политика конфиденциальности</a>
            </div>
            <div class="social-link">
              <a href="#">Пассажирам</a>
            </div>
          </div>
          <div class="footer__vodohod-text">АО «ВодоходЪ. Пассажирский Порт» 2022</div>
        </div>
      </div>




    </div>
  </div>
</footer>
