<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <picture>
          <source srcset="../img/header-logo.avif" type="image/avif">
          <source srcset="../img/header-logo.webp" type="image/webp">
          <img loading="lazy" src="../img/header-logo.png" class="image" alt="">
        </picture>
      </div>
      <div class="header__nav">Пассажирам</div>
      <div class="header__contacts">
        <div class="header__contacts-number">
          <a href="tel:+78123351717">+7 (812) 335-17-17</a>
        </div>
        <div class="header__contacts-ticket">
          <div class="btn-header">
            <a class="contacts-btn" href="#">Купить билет</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

