<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/">
          <picture>
            <source srcset="./img/header-logo.avif" type="image/avif">
            <source srcset="./img/header-logo.webp" type="image/webp">
            <img loading="lazy" src="./img/header-logo.png" class="image" alt="">
          </picture>
        </a>
      </div>
      <a href="">
        <div class="header__nav">
          <a href="information.html" class="header__nav-link">Пассажирам</a>
        </div>
      </a>
      <div class="header__contacts">
        <div class="header__contacts-number">
          <a href="tel:+78123351717">+7 (812) 335-17-17</a>
        </div>
        <div class="header__contacts-ticket">
          <div class="btn-header">
            <a class="contacts-btn" id="x-active" href="#">Купить билет</a>
          </div>
        </div>
      </div>
    </div>
    <div class="home-tick">
      <div class="home__ticket">
        <div class="hero-holder">
          <form action="#" class="ticket-form">
            <div class="field-row">
              <div class="form-field form-field-1">
                <label class="label">дата</label>
                <input type="text" class="input datepicker" id="date_ext" placeholder="1 сентября 2022">
              </div>
              <div class="form-field form-field-2">
                <label class="label">направление</label>
                <div class="select-holder">
                  <select class="select-drop" id="destination_ext">
                    <option value="1">Санкт-Петербург — ГМЗ «Петергоф»</option>
                    <option value="2">ГМЗ «Петергоф» — Санкт-Петербург</option>
                    <option value="3">Санкт-Петербург — ГМЗ «Петергоф» — Санкт-Петербург</option>
                  </select>
                </div>
              </div>
              <div class="form-field form-field-3">
                <label class="label">кол-во пассажиров</label>
                <div class="counter counter-plus-minus">
                  <a href="#" class="minus">-</a>
                  <input type="text" id="category_1_ext" value="1" data-min="1" data-max="999999">
                  <a href="#" class="plus">+</a>
                </div>
              </div>
              <!-- <div class="form-field">
                <label class="label">Тариф</label>
                <div class="select-holder">
                  <select class="select-drop" id="destination_ext2">
                    <option value="1">Стандарт</option>

                    <option value="2">Комфорт</option>
                    <option value="3">Детский от 2 лет</option>

                    <option value="4">Детский до 14 лет</option>
                  </select>
                </div>
              </div> -->
              <div class="form-btn">
                <button data-fancybox="" data-src="#buy-ticket" class="btn btn-default">Купить билет</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</header>
