<header class="header__info">
  <div class="container">
    <div class="header__wrapper">
      <a href="./">
        <div class="header__logo header__logo-info">
          <picture>
            <source srcset="./img/header-logo-red.avif" type="image/avif">
            <source srcset="./img/header-logo-red.webp" type="image/webp">
            <img loading="lazy" src="./img/header-logo-red.png" class="image" alt="">
          </picture>
      </div>
      </a>
      <a href="">
        <div class="header__nav header__nav-info">
          <a href="#" class="header__nav-link header__nav-info">Пассажирам</a>
        </div>
      </a>
      <div class="header__contacts">
        <div class="header__contacts-number header__contacts-number-info">
          <a href="tel:+78123351717">+7 (812) 335-17-17</a>
        </div>
        <div class="header__contacts-ticket">
          <div class="btn-header btn-header-info" id="x-active" data-fancybox="" data-src="#buy-ticket">
            <a class="contacts-btn contacts-btn-info  href="#">Купить билет</a>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container">
  <div class="info-grid">
    <div class="information-wrapper">
      <div class="information">
        <div class="information__title">Информация для пассажиров</div>
        <div class="information-text">
          <p>Организацию перевозки пассажиров по внутригородским маршрутам Санкт-Петербург — ГМЗ «Петергоф», ГМЗ
            «Петергоф» — Санкт-Петербург, Санкт-Петербург — «ГМЗ» Петергоф – Санкт-Петербург осуществляет АО
            «ВодоходЪ.
            Пассажирский Порт».
          </p>
          <p> (Лицензия на осуществление деятельности по перевозкам внутренним водным и морским транспортом
            пассажиров.
            МР-2 № 003731 от 23.06.2020)</p>
        </div>
      </div>
      <div class="information__adress">
        <div class="information__adress-title">Юридический адрес (в том числе для приема претензий):</div>
        <div class="information__adress-text">188644, Ленинградская обл., Всеволожский район, д. Новосаратовка,
          Октябрьская наб., д. 31</div>
        <div class="information__adress-text information__adress-text-375">188644, Ленинградская обл., Всеволожский
          район, д. <br> Новосаратовка,
          Октябрьская наб., д. 31</div>
      </div>
    </div>
  </div>
  <div class="info-grid">
    <div class="information__adress information__adress-1">
      <div class="information__adress-title">Режим работы билетных касс</div>
    </div>
  </div>
  <div class="info-grid">
    <div class="info__work info__work-rotate">
      <div class="info__work-text">
        <p> Ежедневно с 09:00 до 18:00 (без перерыва на обед)</p>
        <p>Ежедневно с 10:30 до 18:00 (без перерыва на обед)</p>
      </div>

    </div>
    <div class="info__work-location info__work-rotate">
      <div class="info__work-location-text">
        <p>Причал в Санкт-Петербурге «Эрмитаж Нижний»</p>
        <p>Причал в ГМЗ «Петергоф»</p>
      </div>
    </div>
  </div>
  <div class="info-grid-adaptive">
    <div class="adaptive-title-red">Причал в Санкт-Петербурге «Эрмитаж Нижний»</div>
    <div class="adaptive-text">Ежедневно с 09:00 до 18:00 (без перерыва на обед)</div>
  </div>
  <div class="info-grid-adaptive">
    <div class="adaptive-title-red">Причал в ГМЗ «Петергоф»</div>
    <div class="adaptive-text">Ежедневно с 09:00 до 18:00 (без перерыва на обед)</div>
  </div>


  <div class="info-grid">
    <div class="information__adress information__adress-1 info-adress-adaptive">
      <div class="information__adress-title information__adress-title-adaptive ">Отдел внутригородского флота c мая по
        октябрь</div>
    </div>
  </div>
  <div class="info-grid">
    <div class="info__work info__work-2">
      <div class="info__work-text">
        <p> Санкт-Петербург, Дворцовая наб. 39,<br> Причал: «Эрмитаж Нижний» (напротив центрального входа в Эрмитаж)
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="info-grid">
    <div class="info__work info__work-rotate">
      <div class="info__work-text ">
        <p> +7 (812) 335-17-17</p>
        <p>Ежедневно с 09:00 до 19:00 (без перерыва на обед)</p>
      </div>

    </div>
    <div class="info__work-location info__work-rotate">
      <div class="info__work-location-text info__work-text-number">
        <p>Телефон</p>
        <p>Режим работы</p>
      </div>
    </div>
  </div>
  <div class="info-grid-adaptive info-grid-adaptive-2">
    <div class="adaptive-title-red">Телефон</div>
    <div class="adaptive-text">+7 (812) 335-17-17</div>
  </div>
  <div class="info-grid-adaptive info-grid-adaptive-2">
    <div class="adaptive-title-red">Режим работы</div>
    <div class="adaptive-text">Ежедневно с 09:00 до 19:00 (без перерыва на обед)</div>
  </div>




  <div class="info-grid">
    <div class="information__adress information__adress-1 information__adress-marsh">
      <div class="information__adress-title">Расписание перевозки пассажиров по маршрутам</div>
    </div>
    <div class="info__work info__work-2 info__work-3 timetable">
      <div class="info__work-text timetable-text">
        <p> Санкт-Петербург — ГМЗ «Петергоф», ГМЗ «Петергоф» — Санкт-Петербург, Санкт-Петербург — ГМЗ «Петергоф» —
          Санкт-Петербург
        </p>
      </div>
      <button class="info-btn">Скачать</button>
    </div>

  </div>




  <div class="info-grid info-grid-info-timetable">
    <div class="information__adress information__adress-1">
      <div class="information__adress-title">Информация об изменении в расписании движения размещается: </div>
    </div>
    <div class="info__work info__work-2 info__work-3">
      <div class="info__work-text">
        <div class="info__work-text-link">
          <svg class="info__work-arrow" width="11" height="11" viewBox="0 0 11 11" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M10.3335 -4.92334e-05L10.3335 7.3335" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M11 0.666748L3.6665 0.666748" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M10.3336 0.666641L1 10.0002" stroke="#B5234D" stroke-width="1.33337" />
          </svg>
          <a href="#">на сайте<span> na-meteore.ru;</span></a>
        </div>
        <div class="info__work-text-link">
          <svg class="info__work-arrow" width="11" height="11" viewBox="0 0 11 11" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M10.3335 -4.92334e-05L10.3335 7.3335" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M11 0.666748L3.6665 0.666748" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M10.3336 0.666641L1 10.0002" stroke="#B5234D" stroke-width="1.33337" />
          </svg>
          <a href="#">на информационных стендах в местах посадки и высадки пассажиров;</a>
        </div>
        <div class="info__work-text-link">
          <svg class="info__work-arrow" width="11" height="11" viewBox="0 0 11 11" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M10.3335 -4.92334e-05L10.3335 7.3335" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M11 0.666748L3.6665 0.666748" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M10.3336 0.666641L1 10.0002" stroke="#B5234D" stroke-width="1.33337" />
          </svg>
          <a href="#">на кассе на причале «Эрмитаж Нижний»;</a>
        </div>
        <div class="info__work-text-link">
          <svg class="info__work-arrow" width="11" height="11" viewBox="0 0 11 11" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M10.3335 -4.92334e-05L10.3335 7.3335" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M11 0.666748L3.6665 0.666748" stroke="#B5234D" stroke-width="1.33337" />
            <path d="M10.3336 0.666641L1 10.0002" stroke="#B5234D" stroke-width="1.33337" />
          </svg>
          <a href="#">
            на кассе в «ГМЗ» Петергоф.</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<section class="info__warning">
  <div class="container">
    <div class="info__warning-wrapper">
      <div class="info-grid flex-order-adaptive">

        <div class="info__work info__work-2 block-adaptive">
          <div class="info__work-text-white">
            <p> Расписание движения может изменяться в течение дня в связи с поступлением информации о неблагоприятных
              погодных условиях или распоряжениями диспетчерских служб Администрации Морского Порта «Большой порт
              Санкт-Петербург». В целях безопасности пассажиров, экипажа и судна капитаном может быть принято решение
              изменить маршрут и вести теплоход по Большой Неве. В связи с этим время в пути может быть увеличено на
              10–20 минут.</p>


          </div>
        </div>
        <div class="info__work-location info__work-location-3">
          <div class="info__work-location-text-white">
            <p>Внимание</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info-landing">
  <div class="container">
    <div class="info-grid">
      <div class="information__adress information__adress-1">
        <div class="information__adress-title">Посадка на теплоход</div>
      </div>
      <div class="info__work info__work-2 ">
        <div class="info__work-text">
          <p>Посадка начинается за 15 минут и заканчивается за 5 минут до отправления теплохода в рейс.
          </p>
        </div>
        <div class="info__work-text-red">
          <p>Порядок перевозок пассажиров регулируется Правилами перевозок пассажиров и их багажа на внутреннем водном
            транспорте (утв. приказом Минтранса РФ от 05.05.2012 г. № 140), Правилами оказания услуг по перевозке
            пассажиров, багажа, грузов для личных (бытовых) нужд на внутреннем водном транспорте (утв. постановлением
            Правительства РФ от 06.02.2003 г. № 72).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="not__allowed">
  <div class="container">
    <div class="not__allowed-wriper">
      <div class="not__allowed-grid--title">
        <div class="not__allowed-title">К перевозке не допускаются</div>
      </div>

      <div class="not__allowed-grid">
        <div class="not__allowed-item">
          <div class="allowed-item-img">
            <picture>
              <source srcset="./img/allowed-item.avif" type="image/avif">
              <source srcset="./img/allowed-item.webp" type="image/webp">
              <img loading="lazy" src="./img/allowed-item.png" class="image" alt="">
            </picture>
          </div>
          <div class="allowed__item-text">
            пассажиры, не предъявившие билет.
          </div>
        </div>
        <div class="not__allowed-item">
          <div class="allowed-item-img">
            <picture>
              <source srcset="./img/allowed-item-2.avif" type="image/avif">
              <source srcset="./img/allowed-item-2.webp" type="image/webp">
              <img loading="lazy" src="./img/allowed-item-2.png" class="image" alt="">
            </picture>

          </div>
          <div class="allowed__item-text allowed__item-text-2">
            пассажиры, предъявившие льготный билет без документа на право проезда по льготному тарифу.
          </div>
        </div>
        <div class="not__allowed-item">
          <div class="allowed-item-img">
            <picture>
              <source srcset="./img/allowed-item-3.avif" type="image/avif">
              <source srcset="./img/allowed-item-3.webp" type="image/webp">
              <img loading="lazy" src="./img/allowed-item-3.png" class="image" alt="">
            </picture>
          </div>
          <div class="allowed__item-text">
            животные, кроме собак-проводников, сопровождающих инвалидов по зрению и собак весом до 3 кг.
          </div>
        </div>
      </div>

    </div>
    <div class="info-grid">
      <div class="not__allowed-title-2">На судах «Метеор» перевозка багажа не осуществляется. </div>
    </div>
  </div>
</section>

<section class="save">
  <div class="container">
    <div class="info-grid">
      <div class="information__adress information__adress-1">
        <div class="information__adress-title"> Сохраняйте билет и чек до конца поездки!</div>
      </div>
      <div class="info__work info__work-2 ">
        <div class="info__work-text">
          <p>Билет на поездку и фискальный чек сохраняются в течение всей поездки. Данные документы могут быть
            затребованы Перевозчиком или проверяющими органами, осуществляющими контроль продажи билетов и соблюдения
            требований посадки/высадки пассажиров во время посадки на судно, в рейсе либо по прибытии теплохода в
            пункт назначения. Пассажир имеет право отказаться от поездки, обменять или вернуть неиспользованный
            приобретенный билет. Правила обмена и возврата неиспользованных билетов регулируются действующим
            законодательством РФ.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="info__document">
  <div class="container">
    <div class="info-grid">
      <div class="information__adress information__adress-1">
        <div class="information__adress-title">Документы</div>
      </div>
      <div class="info__work info__work-2 ">
        <div class="info__work-text info-doc-txt">
          <div class="info__document-link">
            <svg class="info-doc-svg" width="15" height="15" viewBox="0 0 15 15" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0.932617 15L0.932617 4.7334" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M-3.69549e-05 14.0666L10.2666 14.0667" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M0.932879 14.0666L13.9995 1" stroke="#B5234D" stroke-width="1.86666" />
            </svg>
            <div class="info__document-link-1"><a href="#">Перечень предметов и вещей, запрещенных для перевозки на
                пассажирских судах внутреннего водного
                транспорта </a></div>

          </div>
          <div class="info__document-link">
            <svg class="info-doc-svg" width="15" height="15" viewBox="0 0 15 15" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0.932617 15L0.932617 4.7334" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M-3.69549e-05 14.0666L10.2666 14.0667" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M0.932879 14.0666L13.9995 1" stroke="#B5234D" stroke-width="1.86666" />
            </svg>
            <div class="info__document-link-1"><a href="#">Правила покупки, обмена и возврата билетов </a></div>

          </div>
          <div class="info__document-link">
            <svg class="info-doc-svg" width="15" height="15" viewBox="0 0 15 15" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0.932617 15L0.932617 4.7334" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M-3.69549e-05 14.0666L10.2666 14.0667" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M0.932879 14.0666L13.9995 1" stroke="#B5234D" stroke-width="1.86666" />
            </svg>
            <div class="info__document-link-1"> <a href="#">Заявление о возврате денежных средств </a></div>

          </div>
          <p class="info__document-text">В случае, если прекращение перевозки пассажира вызвано нарушением пассажиром
            правил оказания услуг и правил
            перевозок пассажиров или действиями пассажира, создающими угрозу безопасности судоходства, жизни и здоровью
            других пассажиров, плата за проезд пассажиру не возвращается. </p>
          <div class="info__document-link">
            <svg class="info-doc-svg" width="15" height="15" viewBox="0 0 15 15" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0.932617 15L0.932617 4.7334" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M-3.69549e-05 14.0666L10.2666 14.0667" stroke="#B5234D" stroke-width="1.86666" />
              <path d="M0.932879 14.0666L13.9995 1" stroke="#B5234D" stroke-width="1.86666" />
            </svg>
            <div class="info__document-link-1"><a href="#">Правила нахождения на борту теплохода </a></div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="info-rules">
  <div class="container">
    <div class="info-grid">
      <div class="information__adress information__adress-1">
        <div class="information__adress-title"> Правила обработки персональных данных</div>
      </div>
      <div class="info__work info__work-2 ">
        <div class="info__work-text">
          <p>Персональные данные, необходимые для формирования и оплаты заказа, не подлежат разглашению за исключением
            случаев, предусмотренных законодательством РФ. Данные банковской карты не передаются и не хранятся на нашем
            сервере.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="info-location">
  <div class="container">
    <div class="info-grid">
      <div class="information__adress information__adress-1">
        <div class="information__adress-title"> Причалы отправления и прибытия теплоходов</div>
      </div>
    </div>
    <div class="location__wrapper">
      <div class="location__item">

        <div class="location__item-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7766.646802542384!2d30.305217572862023!3d59.93949747559787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310b32cbe2e9%3A0x74e032aa0505dfc!2z0JPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INCt0YDQvNC40YLQsNC2!5e0!3m2!1sru!2sro!4v1651246998487!5m2!1sru!2sro"
            width="100%" height="690" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="location__item-title location__item-title-adapt">Санкт-Петербург — ГМЗ «Петергоф»</div>
        <div class="location__item-suptitle location__item-suptitle-adapt">Причал «Эрмитаж Нижний», СПб, Дворцовая
          набережная, д. 39</div>
        <div class="location__item-text">Причал находится на набережной напротив главного входа в Эрмитаж, рядом с
          пешеходным переходом</div>
      </div>
      <div class="location__item">

        <div class="location__item-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11324.195180437755!2d29.90442953920739!3d59.88477647643722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46964730e30df5a3%3A0x1c938711f6c40d71!2z0J3QuNC20L3QuNC5INC_0LDRgNC6!5e0!3m2!1sru!2sro!4v1651186113792!5m2!1sru!2sro"
            width="100%" height="690" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="location__item-title location__item-title-adapt">ГМЗ «Петергоф» — Санкт-Петербург</div>
        <div class="location__item-suptitle location__item-suptitle-adapt">Причал №3 в Нижнем Парке ГМЗ «Петергоф»
        </div>
        <div class="location__item-text">Купить билет можно онлайн на сайте или в кассе №2 рядом с причалом</div>
      </div>
    </div>
  </div>
</section>

<section class="info__license">
  <div class="container">
    <div class="info-grid-lic">
      <div class="information__adress information__adress-1 info-title-lic">
        <div class="information__adress-title"> Лицензии</div>
      </div>
    </div>
    <div class="info__license-wrapper">
      <div class="info__license-item">
        <picture>
          <source srcset="./img/license.avif" type="image/avif">
          <source srcset="./img/license.webp" type="image/webp">
          <img loading="lazy" src="./img/license.png" class="image" alt="">
        </picture>
      </div>
      <div class="info__license-item">
        <picture>
          <source srcset="./img/license.avif" type="image/avif">
          <source srcset="./img/license.webp" type="image/webp">
          <img loading="lazy" src="./img/license.png" class="image" alt="">
        </picture>
      </div>
      <div class="info__license-item">
        <picture>
          <source srcset="./img/license.avif" type="image/avif">
          <source srcset="./img/license.webp" type="image/webp">
          <img loading="lazy" src="./img/license.png" class="image" alt="">
        </picture>
      </div>
    </div>



    <div class="info-license-wrapper-slide swiper">
      <div class="info-license-wrapper-adaptive swiper-wrapper">
        <div class="info__license-item-adaptive swiper-slide">
          <picture>
            <source srcset="./img/license.avif" type="image/avif">
            <source srcset="./img/license.webp" type="image/webp">
            <img loading="lazy" src="./img/license.png" class="image" alt="">
          </picture>
        </div>
        <div class="info__license-item-adaptive swiper-slide">
          <picture>
            <source srcset="./img/license.avif" type="image/avif">
            <source srcset="./img/license.webp" type="image/webp">
            <img loading="lazy" src="./img/license.png" class="image" alt="">
          </picture>
        </div>
        <div class="info__license-item-adaptive swiper-slide">
          <picture>
            <source srcset="./img/license.avif" type="image/avif">
            <source srcset="./img/license.webp" type="image/webp">
            <img loading="lazy" src="./img/license.png" class="image" alt="">
          </picture>
        </div>
        <div class="info__license-item-adaptive swiper-slide">
          <picture>
            <source srcset="./img/license.avif" type="image/avif">
            <source srcset="./img/license.webp" type="image/webp">
            <img loading="lazy" src="./img/license.png" class="image" alt="">
          </picture>
        </div>
        <div class="info__license-item-adaptive swiper-slide">
          <picture>
            <source srcset="./img/license.avif" type="image/avif">
            <source srcset="./img/license.webp" type="image/webp">
            <img loading="lazy" src="./img/license.png" class="image" alt="">
          </picture>
        </div>
        <div class="info__license-item-adaptive swiper-slide">
          <picture>
            <source srcset="./img/license.avif" type="image/avif">
            <source srcset="./img/license.webp" type="image/webp">
            <img loading="lazy" src="./img/license.png" class="image" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
