<div class="swiper_cost">
  <div class="cost__wrapper-adaptive">
    <div class="cost__adaptive-name-title first-title">Полный <svg width="11" height="11" viewBox="0 0 11 11"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.333 10.9998L10.333 3.6665" stroke="#101010" stroke-width="1.33333" />
        <path d="M10.9993 10.3335L3.66602 10.3335" stroke="#101010" stroke-width="1.33333" />
        <path d="M10.3333 10.3333L1 1" stroke="#101010" stroke-width="1.33333" />
      </svg></div>
    <div class="cost__adaptive-item first-item">
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Категория</div>
          <div class="apadtive__name">Подкатегория</div>
        </div>
        <div class="adaptive__category-text">
          <div class="apadtive__text-name">Полный</div>
          <div class="adaptive__text">Граждане РФ</div>
          <div class="adaptive__text">Граждане иностранных государств</div>
        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Документ</div>
        </div>
        <div class="adaptive__category-text adaptive__category-text-1">
          <div class="apadtive__name apadtive__name-1"> — </div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-money">
          <div class="apadtive__name">Стандарт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">1 300 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">1 950 ₽</div>
        </div>
        <div class="adaptive__category-money">
          <div class="apadtive__name">Комфорт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">1 300 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">1 950 ₽</div>
        </div>
      </div>
    </div>
    <div class="cost__adaptive-name-title">Льготный 1 <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M10.333 10.9998L10.333 3.6665" stroke="#101010" stroke-width="1.33333" />
        <path d="M10.9993 10.3335L3.66602 10.3335" stroke="#101010" stroke-width="1.33333" />
        <path d="M10.3333 10.3333L1 1" stroke="#101010" stroke-width="1.33333" />
      </svg></div>
    <div class="cost__adaptive-item">
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Категория</div>
          <div class="apadtive__name">Подкатегория</div>
        </div>
        <div class="adaptive__category-text">
          <div class="apadtive__text-name">Льготный 1</div>
          <div class="adaptive__text">Пенсионеры</div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Документ</div>

        </div>
        <div class="adaptive__category-text adaptive__category-text-1">
          <div class="apadtive__name apadtive__name-1"> Пенсионное удостоверение </div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-money">
          <div class="apadtive__name">Стандарт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">950 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">1 500 ₽</div>
        </div>
        <div class="adaptive__category-money">
          <div class="apadtive__name">Комфорт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">1 150 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">1 700 ₽</div>
        </div>
      </div>
    </div>
    <div class="cost__adaptive-name-title">Льготный 2 <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.333 10.9998L10.333 3.6665" stroke="#101010" stroke-width="1.33333"/>
      <path d="M10.9993 10.3335L3.66602 10.3335" stroke="#101010" stroke-width="1.33333"/>
      <path d="M10.3333 10.3333L1 1" stroke="#101010" stroke-width="1.33333"/>
      </svg></div>
    <div class="cost__adaptive-item">
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Категория</div>
          <div class="apadtive__name">Подкатегория</div>
        </div>
        <div class="adaptive__category-text">
          <div class="apadtive__text-name">Льготный 2</div>
          <div class="adaptive__text">Дети от 5 до 10 лет</div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Документ</div>

        </div>
        <div class="adaptive__category-text adaptive__category-text-1">
          <div class="apadtive__name apadtive__name-1"> Свидетельство о рождении</div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-money">
          <div class="apadtive__name">Стандарт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">550 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">1 000 ₽</div>
        </div>
        <div class="adaptive__category-money">
          <div class="apadtive__name">Комфорт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">650 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">1 100 ₽</div>
        </div>
      </div>
    </div>
    <div class="cost__adaptive-name-title">Льготный 3 <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.333 10.9998L10.333 3.6665" stroke="#101010" stroke-width="1.33333"/>
      <path d="M10.9993 10.3335L3.66602 10.3335" stroke="#101010" stroke-width="1.33333"/>
      <path d="M10.3333 10.3333L1 1" stroke="#101010" stroke-width="1.33333"/>
      </svg></div>
    <div class="cost__adaptive-item">
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Категория</div>
          <div class="apadtive__name">Подкатегория</div>
        </div>
        <div class="adaptive__category-text">
          <div class="apadtive__text-name">Льготный 3</div>
          <div class="adaptive__text">Дети до 5 лет</div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Документ</div>

        </div>
        <div class="adaptive__category-text adaptive__category-text-1">
          <div class="apadtive__name apadtive__name-1">Свидетельство о рождении </div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-money">
          <div class="apadtive__name">Стандарт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">0 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">0 ₽</div>
        </div>
        <div class="adaptive__category-money">
          <div class="apadtive__name">Комфорт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">0 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">0 ₽</div>
        </div>
      </div>
    </div>
    <div class="cost__adaptive-name-title">Льготный 4 <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.333 10.9998L10.333 3.6665" stroke="#101010" stroke-width="1.33333"/>
      <path d="M10.9993 10.3335L3.66602 10.3335" stroke="#101010" stroke-width="1.33333"/>
      <path d="M10.3333 10.3333L1 1" stroke="#101010" stroke-width="1.33333"/>
      </svg></div>
    <div class="cost__adaptive-item">
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name">Категория</div>
          <div class="apadtive__name">Подкатегория</div>
        </div>
        <div class="adaptive__category-text">
          <div class="apadtive__text-name">Льготный 4</div>
          <div class="adaptive__text">Жители блокадного Лениграда</div>
          <div class="adaptive__text">Ветераны ВОВ</div>
        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-name">
          <div class="apadtive__name apadtive__name-docum">Документ</div>

        </div>
        <div class="adaptive__category-text adaptive__category-text-1">
          <div class="apadtive__name apadtive__name-1 apadtive__name-grid-5"> Удостоверение жителя блокадного
            Лениграда </div>
          <div class="apadtive__name apadtive__name-1"> Удостоврение ветерана </div>

        </div>
      </div>
      <div class="cost__adaptive-category">
        <div class="adaptive__category-money">
          <div class="apadtive__name">Стандарт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">0 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">0 ₽</div>
        </div>
        <div class="adaptive__category-money">
          <div class="apadtive__name">Комфорт</div>
          <div class="apadtive__name-side">В одну сторону</div>
          <div class="apadtive__name-money">0 ₽</div>
          <div class="apadtive__name-side">Кругорейс</div>
          <div class="apadtive__name-money">0 ₽</div>
        </div>
      </div>
    </div>
  </div>
  <div class="cost__adaptive-name-title">Полный</div>
  <div class="cost__adaptive-all">
    <div class="cost__adaptive-all-block">
      <div class="cost__adaptive-all-title">Полный</div>
      <div class="cost__adaptive-all-text">Граждане РФ</div>
      <div class="cost__adaptive-all-text">Граждане иностранных государств</div>
    </div>
    <div class="cost__adaptive-all-block">
      <div class="cost__adaptive-all-title">Льготный 1</div>
      <div class="cost__adaptive-all-text">Пенсионеры</div>
    </div>
    <div class="cost__adaptive-all-block">
      <div class="cost__adaptive-all-title">Льготный 2</div>
      <div class="cost__adaptive-all-text">Дети от 5 до 10 лет</div>
    </div>
    <div class="cost__adaptive-all-block">
      <div class="cost__adaptive-all-title">Льготный 3</div>
      <div class="cost__adaptive-all-text">Дети до 5 лет</div>
    </div>
    <div class="cost__adaptive-all-block">
      <div class="cost__adaptive-all-title">Льготный 4</div>
      <div class="cost__adaptive-all-text">Жители блокадного Лениграда</div>
      <div class="cost__adaptive-all-text">Ветераны ВОВ</div>
    </div>

  </div>
</div>
