<script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU"></script>
<div style="display: none;" id="buy-ticket" class="modal-content" tabindex="1">
  <form action="#" class="buy-ticket-form" id="buy-ticket-form" method="post">
    <h2 class="h2 text-mark title-ticket-popup">Покупка билета</h2>
    <div class="form-row form-row-1">
      <div class="item first-width">
        <div class="form-field-1">
          <label class="label label-red">дата</label>
          <div class="datepicker-input">
            <input type="text" class="input datepicker" id="date_popup" name="date" placeholder="22-04-2022">
          </div>
        </div>
        <label class="label label-red label-red-time">Время</label>
        <div class="field-group">
          <div class="field-item field-item-to">
            <div class="select-holder is-icon-left">
              <select class="select-drop" id="time_to" name="time_to">
              </select>
            </div>
          </div>
          <div class="field-item field-item-from">
            <div class="select-holder is-icon-right">
              <select class="select-drop" id="time_from" name="time_from">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="item second-width">
        <label class="label label-red">направление</label>
        <div class="check-list destination-list">
          <div class="item item-1">
            <label class="checkbox-holder">
              <input type="radio" name="destination" value="1" checked>

              <span>Санкт-Петербург – Петергоф </span>
            </label>
          </div>
          <div class="item item-2">
            <label class="checkbox-holder">
              <input type="radio" name="destination" value="2">

              <span>Петергоф – Санкт-Петербург</span>
            </label>
          </div>
          <div class="item item-3">
            <label class="checkbox-holder">
              <input type="radio" name="destination" value="3">

              <span>Санкт-Петербург – Петергоф – Санкт-Петербург</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-field form-field-2">
      <div class="tariff-block">
        <label class="label label-red">тариф стандарт</label>
        <div class="check-list tariff-list">
          <div class="item item-popup-flex">
            <div class="flex-inner flex-inner-poln">
              <label class="checkbox-holder check-hold">
                <!--							<input type="radio" name="tariff" value="1" checked>-->
                <span>&nbsp;</span>
                <span class="poln poln-1">Полный</span>
              </label>
              <span data-tippy-placement="left-start" data-tippy-content="Граждане РФ и иностранных государств"
                class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="1" name="category_1" data-tariff="1" data-min="0" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 1</span>
              </label>
              <span data-tippy-placement="left-start" data-tippy-content="Пенсионеры" class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_2" data-tariff="2" data-min="0" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 2</span>
              </label>
              <span data-tippy-placement="left-start" data-tippy-content="Дети до 10 лет"
                class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_3" data-tariff="3" data-min="0" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 3</span>
              </label>
              <span data-tippy-placement="left-start"
                data-tippy-content="Дети до 5 лет (бесплатно, без предоставления места)" class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_4" data-tariff="12" required data-min="1" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 4</span>
              </label>
              <span data-tippy-placement="left-start"
                data-tippy-content="Жители блокадного Ленинграда и ветераны ВОВ (бесплатно)"
                class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_4" data-tariff="13" required data-min="1" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
        </div>
      </div>
      <div class="end-tariff tariff-block">
        <label class="label label-red tarif-label-red">тариф комфорт</label>
        <div class="check-list tariff-list">
          <div class="item item-popup-flex">
            <div class="flex-inner flex-inner-poln">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span class="poln poln-1">Полный</span>
              </label>
              <span data-tippy-placement="left-start" data-tippy-content="Граждане РФ и иностранных государств"
                class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_5" data-tariff="14" data-min="0" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 1</span>
              </label>
              <span data-tippy-placement="left-start" data-tippy-content="Пенсионеры" class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_6" data-tariff="15" data-min="0" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 2</span>
              </label>
              <span data-tippy-placement="left-start" data-tippy-content="Дети до 10 лет"
                class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_7" data-tariff="16" data-min="0" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 3</span>
              </label>
              <span data-tippy-placement="left-start"
                data-tippy-content="Дети до 5 лет (бесплатно, без предоставления места)" class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_8" data-tariff="17" required data-min="1" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
          <div class="item item-popup-flex">
            <div class="flex-inner">
              <label class="checkbox-holder check-hold">
                <span>&nbsp;</span>
                <span>Льготный 4</span>
              </label>
              <span data-tippy-placement="left-start"
                data-tippy-content="Жители блокадного Ленинграда и ветераны ВОВ (бесплатно)"
                class="tooltip-button">?</span>
            </div>
            <div class="counter">
              <a href="#" class="minus">-</a>
              <input type="text" value="0" name="category_8" data-tariff="18" required data-min="1" data-max="100">
              <a href="#" class="plus">+</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="form-field">
        <label class="label label-red">ФИО</label>
        <input type="text" name="name" required class="input-form input-form-1">
      </div>
    </div>
    <div class="form-row">

      <div class="item">
        <div class="form-field">
          <label class="label label-red">E-MAIL для отправки билетов</label>
          <input type="email" name="email" required class="input-form input-form-1">
        </div>
      </div>
    </div>
    <div class="form-row form-flex-row">
      <div class="item">
        <div class="form-field">
          <label class="label label-red">промокод</label>
          <input name="promocode" type="text" class="input-form input-form-promo">
          <label id="promocode-error" style="font-size: 12px; color: #962344; font-weight: bold;"></label>
        </div>
      </div>

      <div class="item">
        <div class="field-group">
          <div class="field-item">
            <div class="form-field">
              <label class="label label-red text-mark">итого:</label>
              <input type="text" disabled class="input-form border-input-form input-form-promo" id="input-result">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <label>
        <input class="check-box" name='agree' type="checkbox">
        <span class="check-style"></span>
        <div class="check-text">Согласие на обработку персональных данных</div>
      </label>
    </div>

    <div class="btn-holder">
      <button class="btn btn-default">Купить билет</button>
    </div>
  </form>
</div>
<div style="display: none;" id="error-popup" class="modal-content" tabindex="1">
  <h2 class="h2 text-mark">Ошибка</h2>
  <div class="error-text">
    Ошибка Вася
  </div>
</div>
<div style="display: none;" id="buy-confirmation-popup" class="modal-content" tabindex="1">
  <div class="buy-confirmation-popup">
    <h2>Перед оплатой проверьте<br />правильность заполненных данных</h2>
    <div class="order-details"></div>
    <button class="btn-confirm">Купить билет</button>
    <button class="btn-edit">Изменить</button>
  </div>
</div>
