// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

// header
.header {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header__nav {
  font-size: 16px;
  line-height: 117%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}

.header__contacts {
  display: flex;
  align-items: center;


  &-number {
    margin-right: 20px;

    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #FFFFFF;
    }
  }

  &-ticket {

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 117%;
      color: #FFFFFF;

    }

    .btn-header {
      border: 1px solid #B5234D;
      border-radius: 170px;
      padding: 15px 40px;
      cursor: pointer;
    }
  }
}

.btn-header:hover {
  background-color: #B5234D;
  transition: all .3s ease-in-out;
}



// pop-up
.fancybox-content {
  padding: 40px;
  border-radius: 5px;
}

.title-ticket-popup {
  color: #962344;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 44px;
}


.form-row-1 {
  display: flex;
  margin-bottom: 40px;
}

.form-field-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.poln {
  font-weight: 400;
  font-size: 16px;
  background: rgba(245, 245, 245, 0.92);
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 135%;
  color: #101010;
}

.counter .plus, .counter .minus {
  color: #101010;
}


.flex-inner.flex-inner-poln {
  padding-right: 39px;
}

.flex-inner {
  font-weight: 400;
  font-size: 16px;
  background: rgba(245, 245, 245, 0.92);
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 135%;
  padding: 10px 16px;
  color: #101010;
  margin-bottom: 5px;
  margin-right: 5px;
}


.tariff-block {
  .counter {
    font-weight: 400;
    font-size: 16px;
    background: rgba(245, 245, 245, 0.92);
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 135%;
    padding: 10px 16px;
    margin-bottom: 5px;
    color: #101010;
  }
}





.item.item-popup-flex {
  display: flex;
}

.item.item-1 {

  margin-bottom: 5px;

  .checkbox-holder {
    cursor: pointer;

    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #101010;
      background: rgba(245, 245, 245, 0.92);
      border-radius: 5px;
      padding: 10px 15px;

    }

    input {
      display: none;
    }
  }
}

.item.item-2 {

  margin-bottom: 5px;

  .checkbox-holder {
    cursor: pointer;

    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #101010;
      background: rgba(245, 245, 245, 0.92);
      border-radius: 5px;
      padding: 10px 15px;

    }

    input {
      display: none;
    }
  }
}

.item.item-3 {


  .checkbox-holder {
    cursor: pointer;

    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #101010;
      background: rgba(245, 245, 245, 0.92);
      border-radius: 5px;
      padding: 10px 15px;
    }

    input {
      display: none;
    }
  }
}

.item.first-width {
  max-width: 27%;
  margin-right: 20px;
}

.form-field-1 {
  margin-bottom: 26px;

  .datepicker-input {
    input {
      width: 100%;
      background: rgba(245, 245, 245, 0.92);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #101010;
    }
  }
}

label.label.label-red {
  color: #962344;
  margin-bottom: 10px;
}

.form-flex-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

}


.input-form-1 {
  width: 100%;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  height: 42px;
  margin-bottom: 20px;
}

.input-form-promo {
  margin-right: 5px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  height: 42px;
  width: 100%;
  margin-bottom: 40px;
}


.tooltip-button {
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  background: #C4C4C4;
  padding: 0 5px;
  text-align: center;
  color: #fff;
}

.btn-holder {
  text-align: center;

}

.btn.btn-default {
  margin-top: 10px;
  width: 100%;
  padding: 16px;
  border-radius: 170px;
  font-weight: 500;
  font-size: 14px;
  line-height: 117%;
  color: #FFFFFF;
  cursor: pointer;
}

.home__ticket {
  width: 100%;
  margin-top: 80px;
}

.hero-holder {
  width: 100%;
  min-width: 100%;
}

button,
select {
  text-transform: none;
  outline: none;
  border: none;
}

.hero__holder-way {
  font-size: 20px;
  line-height: 130%;
  color: #fff;
  display: flex;
  padding-bottom: 30px;
}

.holder_way-first {
  margin-right: 40px;
  cursor: pointer;
}

.holder_way-second {
  opacity: 0.6;
  cursor: pointer;
}

.field-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket-form .field-row {
  width: 100%;
  align-items: flex-start;
}

.ticket-form .form-field {
  font-size: 20px;
  line-height: 130%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 16px;
  margin-right: 5px;
  height: 90px;
  box-shadow: 0px 4px 4px rgb(219 219 219 / 11%);
  border-radius: 5px;

}

.select2-selection.select2-selection--single {
  border: none;
}


.form-field.form-field-1 {
  width: 20%;
}

.form-field.form-field-2 {
  padding: 0;

}

.form-field.form-field-3 {
  width: 40%;
}

.form-field.form-field-2 .label {
  margin-top: 14px;
  margin-left: 27px;
}



.label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #101010;
  margin-bottom: 5px;
}

.select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.form-field-2 .select2-container {
  padding: 16px;
}

.ticket-form .form-field input.input {
  border: none;
  background: transparent;
  text-align: center;
  height: 30px;
  font-weight: 500;
  color: #000;
  padding: 0;
  appearance: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  text-overflow: ellipsis;

}

.select2-results__option {

  padding-left: 24px;
  position: relative;

  &::before {
    content: "";
    border: 1px solid #101010;
    width: 9px;
    position: absolute;
    height: 9px;
    top: 11px;
    left: 8px;
    border-radius: 50%;
  }
}

.select2-results__option--highlighted::before {
  content: "";
  border: 1px solid #B5234D;
  background: transparent;
  width: 10px;
  position: absolute;
  height: 10px;
  top: 11px;
  left: 8px;
  border-radius: 50%;
}

.select2-results__option--highlighted::after {
  content: "";

  background: #B5234D;
  width: 4px;
  position: absolute;
  height: 4px;
  top: 0.8418rem;
  left: 11px;
  border-radius: 50%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #fff;
  color: #000;
}


.input.datepicker {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
}


.ticket-form .form-btn .btn {
  width: 100%;
  border-radius: 5px;
}

.form-btn {
  min-width: 274px;

  .btn {
    display: inline-block;
    font-size: 20px;
    line-height: 130%;
    padding: 32px;
    letter-spacing: 0.085em;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0;
    transition: all .35s ease;
  }
}


.btn.btn-default {
  background: #962344;
  color: #fff;
}





.counter .plus,
.counter .minus {
  font-size: 22px;
  line-height: 1.2;
  height: 25px;
  width: 14px;
  color: #962344;
}

.counter input {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  width: 26px;
  height: 25px;
  border: none;
  color: #000;
  padding: 0;
  text-align: center;
  background: transparent;
}


// attention

.attention__wrapper {
  background: #101010;
  border-radius: 0px 0px 5px 5px;
}

.attention__box {
  text-align: center;
  padding: 25px 0;
}

.attention-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
}

// news
.news__title {
  font-weight: 600;
  font-size: 80px;
  line-height: 113%;
  color: #101010;
  margin-top: 80px;
}


.news__wrapper {
  margin-top: 40px;
  display: flex;

}

.news__info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  margin-right: 52px;
  max-width: 34%;
}

.news__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  max-width: 34%;

}


// why
.why__title {
  margin-top: 180px;
  font-weight: 500;
  font-size: 16px;
  line-height: 117%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #B5234D;
}

.why__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.why__item-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #101010;
  margin-top: 40px;
}

.why__item-img {
  margin-top: 9px;
}

.why__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-top: 10px;
}


// meaning


.meaning__wrapper {
  display: flex;
  justify-content: space-between;
}

.meaning__wrapper-info {
  max-width: 63%;
}

.meaning__wrapper-number {
  display: flex;
  margin-top: 40px;
}

.meaning__number {
  margin-right: 40px;
}

.number {
  font-weight: 600;
  font-size: 80px;
  line-height: 113%;
  color: #B5234D;
}


.number__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
}


.meaning__info-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #101010;
  max-width: 71%;
}

.meaning__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-top: 10px;
  max-width: 47%;
}

.btn {
  margin-top: 50px;

  &:hover {


    a:hover {
      color: #fff;
      transition: all .3s ease-in-out;
      background-color: #962344;
      border: 1px solid #962344;
    }
  }

  a {
    border: 1px solid #B5234D;
    border-radius: 170px;
    padding: 14px 50px;
    color: #101010;
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
  }
}

.meaning_img {
  margin-top: 100px;
}


// cost
.cost {
  margin-bottom: 100px;
}


.cost__wrapper-adaptive {
  display: none;
}

.cost__wrapper {
  border: 1px solid #101010;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  .cost__wrapper-2 {
    position: absolute;
    width: 100%;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    top: 12rem;
    left: 0;


  }



  .cost__wrapper-3 {
    top: 24rem;
  }

  &::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 16rem;
    height: 1px;
    border-bottom: 1px solid #C4C4C4;

  }



  &::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 20rem;
    height: 1px;
    border-bottom: 1px solid #C4C4C4;
  }
}



.category__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #B5234D;
}

.category__person {
  margin-top: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  margin-bottom: 60px;
}




.category_benefits {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  margin-bottom: 40px;
}


.category__unity-1 {
  margin-top: 60px;
}

.category__unity {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-bottom: 5px;
}


.category_benefits-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-top: 43px;
}

.category_benefits-name-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-top: 27px;
}

.category__money-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #818181;
}

.money__big {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101010;
  margin-top: 40px;
}


.money__benefits {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  margin-top: 40px;

}

.money__benefits-1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  margin-top: 60px;
}


.money__wrapper {
  display: flex;
}

.category__money-box {
  margin-right: 19px;
}


.category__text-wrapper {
  display: flex;
  margin-top: 20px;
}

.text-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #818181;
  max-width: 30%;
  margin-right: 32px;
}


// rates

.rates__wrapper {
  display: flex;
  justify-content: space-between;
}

.rates__title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  max-width: 20%;
}

.rates__title-2 {
  display: none;
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  max-width: 20%;
}

.rates__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-top: 10px;

}

.rates__box {
  max-width: 28%;
}


.color-1 {
  display: block;
  width: 30px;
  height: 30px;
  background: #B5234D;
  border-radius: 5px;
}

.color-2 {
  display: block;
  width: 30px;
  height: 30px;
  background: #9EC5E9;
  border-radius: 5px;
}

.color-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-left: 5px;
}

.color__item-wrapper {
  display: flex;
  align-items: center;
}

.rates__scheme-color {
  margin-top: 180px;
}

.rates__scheme-color-adaptive {
  display: none;
}

.color-item {
  margin-bottom: 15px;
}


.rates__scheme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}


// important

.important {
  margin-top: 180px;
}


.important__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(245, 245, 245, 0.92);
  border-radius: 5px;
}





.important__info {
  padding: 40px;
}


.important__info-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #101010;
  max-width: 80%;
}


.important__info-text {
  margin-top: 10px;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;

    margin: 0;

    a {
      color: #101010;
    }
  }
}




// questions

.questions__wrapper {
  margin-top: 60px;
}

.questions__item {
  display: flex;
  align-items: center;
  border-top: 1px solid #A5A5A5;
  border-bottom: 1px solid #A5A5A5;
  padding: 60px 0;
}

.questions__item-plus {
  min-width: 35%;

  .plus {
    cursor: pointer;
  }
}


.questions__item-arrow {
  margin-right: 30%;
}

.questions__item-info {
  display: flex;
}

.questions__item-text {
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 15px;
  max-width: 448px;
  cursor: pointer;
  display: block;
}

.questions__item-answer {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  max-width: 80%;
  color: #626262;
}


.questions__item-info.active .questions__item-plus .menu-btn__plus::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


.modal__feedback-content_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
}

.modal__feedback-content_subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  /* identical to box height, or 22px */
  /* Белый */
  margin-top: 20px;
  color: #FFFFFF;
}

.modal__feedback {
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 555;
  transition: all 0.3s ease-in-out;

  &.active {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
}

.modal__feedback-content {
  background: #B5234D;
  padding: 80px;
}


.gallery-swiper {
  overflow: visible !important;
}

.swiper-slide-prev {
  width: 900px !important;
  transition: all 0.3s ease-in-out;
}

.swiper-slide {
  transition: all 0.3s ease-in-out;
}



.accordion {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #101010;
  margin-bottom: 15px;
  max-width: 603px;
  cursor: pointer;
  padding: 15px 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion.active .plus {
  transform: scaleX(9999999);
}

.questions__item-info.active .questions__item-plus .menu-btn .menu-btn__plus::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #101010;
    max-width: 80%;
    margin: 0;
    margin-bottom: 15px;

    span {
      color: #B5234D;
    }
  }
}





.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__plus {
  width: 50px;
  height: 6px;
  background: #962344;

  border-radius: 5px;

  transition: all .5s ease-in-out;
}

.menu-btn__plus::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #962344;
  ;
  border-radius: 5px;

  transition: all .5s ease-in-out;
}

.menu-btn__plus::before {
  transform: rotate(90deg);
}





.menu-btn.active .menu-btn__plus::before {
  transform: rotate(180deg);
}



// gallery
.gallery {
  margin-bottom: 100px;
}

.swiper {
  margin-top: 40px;
}


.swiper-btn {
  position: absolute;
  z-index: 10;
  top: 19rem;
  right: 23rem;
  cursor: pointer;
}




// form


.cooperation__info {
  max-width: 31%;


  p {
    margin: 0;
    margin-bottom: 30px;

  }
}

.cooperation__wrapper {
  display: flex;
}

.cooperation__form {
  min-width: 67%;
  margin-left: 40px;
}


.cooperation__checkbox {
  margin-top: 20px;
}

.txt-field {
  input {
    min-width: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    outline: none;
  }

  input::placeholder {
    font-size: 20px;
    padding: 0px;
  }
}

textarea::placeholder {
  font-size: 20px;

}

.txt-area {
  font-size: 20px;
  line-height: 130%;
  color: #A5A5A5;
  padding-bottom: 9px;
}

.txtar {
  min-width: 100%;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  height: 240px;
  resize: none;
  font-size: 20px;
  padding: 20px;
}

.btn-form {
  width: 100%;
  padding: 20px;
  border: 1px solid #B5234D;
  text-align: center;
  padding: 18px 72px;
  cursor: pointer;
  border-radius: 390px;
  margin-top: 34px;

  &:hover {
    transition: all .3s ease-in-out;
    background-color: #962344;
    border: 1px solid #962344;

    a:hover {

      color: #fff;

    }
  }

  a {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
    color: #101010;
    transition: all .3s ease-in-out;


  }

}



.cooperation-check {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-box {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);

}

.check-style {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 1px solid #101010;
  cursor: pointer;
}

.check-text {
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #626262;
}


.check-box:checked+.check-style::before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #101010;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.cooperation__info-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #101010;
}

.cooperation__info-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
}


// location

.location__item-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #101010;
}


.location__item-suptitle {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
}

.location__item-text {
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  max-width: 85%;
}


.location__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.location__item-map {
  margin-top: 17px;
  filter: grayscale(100%);
}


// project

.project__wrapper {
  margin-top: 40px;
}

.project__item {
  display: flex;
  margin-bottom: 20px;
}

.project__item-img {
  img {
    max-width: 453px;
    max-height: 294px;
  }

  margin-right: 20px;
}


.project__info-title {


  a {
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    color: #101010;
  }
}

.project__info-title:hover {
  a {
    color: #B5234D;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }
}

.project__item-border {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #C4C4C4;
    height: 1px;
    width: 68%;
    right: -17px;
    top: -26px;
  }

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #C4C4C4;
    height: 1px;
    width: 68%;
    right: -17px;
    bottom: 0;
  }
}

.project__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-top: 10px;
  max-width: 70%;
}

.project__info-text-1 {
  width: 100%;
}

.prarr {
  position: absolute;
  right: 0;
  width: 14px;
}

.project__item-3 {
  position: relative;
}


// footer
.footer {
  background: #101010;
  margin-top: 180px;
}

.footer__wrapper {
  padding: 80px 0;
}


.info__number-link {
  a {
    font-weight: 600;
    font-size: 80px;
    line-height: 113%;
    color: #B5234D;
  }
}

.info__number-text {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 20px;
  max-width: 70%;
}


.social-link {
  a {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #FFFFFF;
  }

  &:hover {
    a {
      border-bottom: 1px solid #101010;
    }

  }
}

.footer__social-box {
  margin-bottom: 40px;
}

.footer__info {
  display: flex;

}


.footer__img {
  margin-top: 160px;


}

.footer__img-1 {
  display: none;
}

.footer__vodohod-text-1 {
  display: none;
}

.footer__vodohod-text {
  margin-top: 260px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #818181;
}



























.cost__adaptive-item {
  border: 1px solid #101010;
  padding: 20px 10px 10px 10px;
  border-radius: 23px;
}

.cost__adaptive-category {
  display: flex;

}

.adaptive__category-name {
  margin-right: 34px;
}

.apadtive__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #B5234D;
  margin-bottom: 20px;
}

.apadtive__name-1 {
  color: #101010;
}

.apadtive__text-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  margin-bottom: 20px;
}

.adaptive__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #101010;
  margin-bottom: 10px;
}

.adaptive__category-text-1 {
  margin-left: 34px;
}

.apadtive__name-side {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #818181;
  margin-bottom: 5px;
}

.apadtive__name-money {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #101010;
  margin-bottom: 10px;
}

.adaptive__category-money {
  margin-right: 24px;
}


.cost__wrapper-adaptive {
  margin-top: 40px;

}




// media


@media (max-width: 1664px) {
  .project-arrow {
    min-width: 14px;
  }


}

@media (max-width: 1655px) {
  .project__item-border::before {
    right: -26px;
  }

  .project__item-border::after {
    right: -26px;
  }
}

@media (max-width: 1609px) {
  .project__item-border::before {
    width: 67%;
  }

  .project__item-border::after {
    width: 67%;
  }
}

@media (max-width: 1605px) {
  .category_benefits {
    margin-right: 59px;
  }

  .cost__category-wrapper {
    max-width: 20%;
  }

  .benefits-name-adap-1 {
    margin-top: 21px;
  }
}

@media (max-width: 1550px) {
  .news__title {
    font-size: 70px;
  }

  .project__item-border::before {
    width: 65%;
  }

  .project__item-border::after {
    width: 65%;
  }
}


@media (max-width: 1519px) {
  .meaning__info-title {
    font-size: 30px;
  }
}

@media (max-width:1516px) {
  .important__info-title {
    max-width: 100%;
  }
}

@media (max-width:1492px) {
  .location__item-title {
    font-size: 30px;
  }
}

@media (max-width:1482px) {
  .form-field.form-field-2 {
    width: 428px;
  }

  .select2-selection.select2-selection--single {
    width: 384px;
  }

  .form-field.form-field-3 {
    width: 20%;
  }


}

@media (max-width:1468px) {
  .project__item-border::before {
    width: 63%;
  }

  .project__item-border::after {
    width: 63%;
  }
}

@media (max-width:1452px) {
  .cost__wrapper {
    padding: 20px;
  }

  .cost__wrapper .cost__wrapper-2 {
    top: 11rem;
  }

  .cost__wrapper::before {
    top: 15rem;
  }

  .cost__wrapper::after {
    top: 19rem;
  }

  .cost__wrapper .cost__wrapper-3 {
    top: 23rem;
  }
}

@media (max-width:1415px) {
  .project__info-title a {
    font-size: 30px;
  }

  .project__item-border::before {
    width: 61%;
  }

  .project__item-border::after {
    width: 61%;
  }
}

@media (max-width:1412px) {
  .category__money-name {
    font-size: 13px;
  }

  .money__benefits-1 {
    margin-top: 64px;
  }
}

@media (max-width:1386px) {
  .news__title {
    font-size: 60px;
    margin-top: 60px;

  }

  .location__item-map {
    iframe {
      height: 500px;
    }
  }

  .news__info-text {
    max-width: 42%;
  }
}

@media (max-width: 1354px) {
  .header {
    .form-btn {
      min-width: 235px;
    }
  }


}

@media (max-width: 1345px) {
  .project__item-border::before {
    width: 59%;
  }

  .project__item-border::after {
    width: 59%;
  }
}

@media (max-width: 1327px) {
  .meaning__info-title {
    max-width: 80%;
  }

  .meaning__info-text {
    max-width: 80%;
  }
}

@media (max-width: 1320px) {
  .category_benefits-name {
    max-width: 85%;
  }

  .benefits-number-2 {
    margin-top: 21px;
  }

  .benefits-number-3 {
    margin-top: 21px;
  }

  .benefits-number-4 {
    margin-top: 21px;
  }

  .category_benefits-name-2 {
    margin-top: 13px;
  }

  .money__benefits-1 {
    margin-top: 73px;
  }
}

@media (max-width: 1304px) {
  .project__info-title a {
    font-size: 24px;
    line-height: 26px;
  }
}

@media (max-width: 1295px) {
  .project__item-border::before {
    width: 57%;
  }

  .project__item-border::after {
    width: 57%;
  }

  .location__item-title {
    font-size: 25px;
  }
}

@media (max-width: 1277px) {
  .important__info-title {

    font-size: 28px;

  }

  .important-img {
    img {
      max-height: 800px;
    }
  }
}



@media (max-width: 1264px) {
  .category__money-name {
    font-size: 12px;
  }
}

@media (max-width: 1248px) {
  .ticket-form .form-btn .btn {
    width: 89%;

  }

  .form-field.form-field-1 {
    width: 14%;
  }
}

@media (max-width: 1245px) {
  .project__item-border::before {
    width: 55%;
  }

  .project__item-border::after {
    width: 55%;
  }
}

@media (max-width: 1229px) {
  .cost__wrapper {
    padding: 10px;
  }
}

@media (max-width: 1222px) {
  .news__title {
    font-size: 49px;

  }

  .news__info-title {
    font-size: 18px;
  }

  .text-category {
    max-width: 51%;
  }
}

@media (max-width: 1221px) {
  .info__number-link a {
    font-size: 55px;
  }

  .footer__img {
    margin-top: 204px;
  }
}

@media (max-width: 1211px) {
  .project__info-title {
    max-width: 71%;
  }
}

@media (max-width: 1209px) {
  .category__money-box {
    margin-right: 10px;
  }

  .project__item-border::before {
    width: 53%;
  }

  .project__item-border::after {
    width: 53%;
  }
}

@media (max-width: 1192px) {
  .form-field.form-field-2 {
    width: 301px;
  }

  .select2-selection.select2-selection--single {
    width: 277px;
  }



  .form-field.form-field-1 {
    width: 19%;
  }

  .form-field.form-field-3 {
    width: 25%;
  }

  .ticket-form .form-btn .btn {
    width: 100%;
  }
}

@media (max-width: 1186px) {
  .meaning__info-title {
    max-width: 100%;
  }

  .project__info-text {
    max-width: 85%;
  }
}

@media (max-width: 1159px) {
  .project__item-border::before {
    width: 51%;
  }

  .project__item-border::after {
    width: 51%;
  }
}

@media (max-width: 1130px) {
  .category__unity {
    font-size: 15px;
  }

  .benefits-name-adap-1 {
    margin-top: 38px;
  }

  .category_benefits-lg {
    margin-top: 75px;
  }

  .benefits-number-1 {
    margin-top: 58px;
  }

  .money__benefits-1 {
    margin-top: 85px;
  }

  .money__benefits-1 {
    font-size: 16px;
    margin-top: 88px;
  }

  .money__benefits {
    font-size: 16px;
    margin-top: 43px;
  }

  .money__big {
    font-size: 16px;
  }

  .category_benefits-name {
    max-width: 100%;
  }
}

@media (max-width: 1123px) {
  .cooperation__info-title {
    font-size: 30px;
  }

  .project__item-border::before {
    width: 49%;
  }

  .project__item-border::after {
    width: 49%;
  }

  .location__item-title {
    font-size: 20px;
  }
}



@media (max-width: 1103px) {
  .attention-text {
    font-size: 16px;
  }

  .news__info-text {
    max-width: 63%;
  }
}

@media (max-width: 1127px) {
  .rates__title-1 {
    display: none;
  }

  .rates__title-2 {
    display: block;
    max-width: 100%;
    margin-bottom: 47px;
    display: block;
  }

  .rates__box {
    max-width: 41%;
  }
}

@media (max-width: 1092px) {
  .cost__category-wrapper--1 {
    min-width: 15%;
  }

  .category__person {
    font-size: 16px;
  }

  .category_benefits {
    font-size: 16px;
    margin-right: 0;
  }

  .category_benefits-lg {
    margin-top: 85px;
  }

  .category_benefits-lg-2 {
    margin-top: 44px;
  }

  .category_benefits-lg-3 {
    margin-top: 44px;
  }

  .category_benefits-lg-4 {
    margin-top: 44px;
  }
}

@media (max-width: 1087px) {
  .project__item-border::before {
    width: 47%;
  }

  .project__item-border::after {
    width: 47%;
  }

  .form-field.form-field-2 {
    width: 263px;
  }

  .select2-selection.select2-selection--single {
    width: 228px;
  }


}

@media (max-width: 1075px) {
  .benefits-name-adap-1 {
    margin-top: 18px;
  }

  .benefits-name-adap-2 {
    margin-top: 42px;
  }

  .category_benefits-lg-2 {
    margin-top: 40px;
  }
}

@media (max-width: 1067px) {
  .category__money-name {
    font-size: 10px;
  }
}

@media (max-width: 1051px) {
  .project__item-border::before {
    width: 45%;
  }

  .project__item-border::after {
    width: 45%;
  }
}

@media (max-width: 1050px) {
  .info__number-text {
    font-size: 30px;
    max-width: 70%;
  }
}

@media (max-width: 1042px) {
  .project__info-title {
    max-width: 100%;
  }
}

@media (max-width: 1031px) {
  .why__item-title {
    font-size: 30px;
  }
}

@media (max-width: 1029px) {
  .ticket-form .form-btn .btn {
    width: 93%;
  }
}

@media (max-width: 1024px) {
  .cost__wrapper {
    display: none;
  }

  .header {
    height: inherit;
    padding-bottom: 100px;
  }


  .cost__wrapper-adaptive {
    display: block;
  }

  .location__item-text {
    max-width: 100%;
  }

  .cost__adaptive-name-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
    color: #101010;
    border: 1px solid #101010;
    border-radius: 170px;
    padding: 14px;
    text-align: center;
  }

  .cost__adaptive-all {
    display: block;
    border: 1px solid #101010;
    border-radius: 23px;
    padding: 20px 15px;
  }

  .cost__adaptive-all-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #101010;
  }

  .cost__adaptive-all-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #101010;
  }

  .cost__adaptive-all-block {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .cost__adaptive-all-block:nth-child(5) {
    border: none;
  }

  .cost__adaptive-item {
    margin-bottom: 40px;
  }

  .project__item {
    display: block;
    position: relative;
  }

  .project__item-border::before {
    display: none;
  }

  .project__item-border::after {
    display: none;
  }

  .project__item-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .project__info-title {
    margin-top: 10px;
  }


  .project-arrow {
    position: absolute;
    right: 0px;
    max-width: 9px;
    bottom: 83px;
  }

  .prarr {
    bottom: 40px;
  }

  .project__item-img {
    margin-right: 0px;
  }

  .footer__img {
    margin-top: 204px;
    display: none;
  }

  .footer__info {
    display: block;
  }

  .info__number-text {
    margin-bottom: 40px;
  }

  .footer__social-box {
    margin-bottom: 0;
  }

  .social-link {
    margin-bottom: 10px;
  }

  .footer__vodohod-text {
    display: none;
  }

  .footer__vodohod-text-1 {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #818181;
    margin-top: 20px;
  }

  .footer__img-1 {
    display: block;

  }

  .ticket-form .field-row {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .form-field.form-field-1 {
    width: 100%;
  }

  .form-field.form-field-2 {
    width: 100%;
    order: 2;
    height: auto;
  }

  .select2-selection.select2-selection--single {
    width: 100%;
    height: auto;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    white-space: pre-wrap;
  }

  .form-field.form-field-3 {
    width: 100%;
    order: 0;
  }

  .ticket-form .form-btn .btn {
    width: 100%;
  }

  .header .form-btn {
    order: 3;
    width: 100%;
  }

  .ticket-form .form-field {
    margin-bottom: 5px;
  }

  .header__nav {
    display: none;
  }

  .header__contacts-number {
    display: none;
  }
}



@media (max-width: 1000px) {
  .important__wrapper {
    display: block;
  }

  .important-img img {
    max-height: inherit;
  }
}

@media (max-width: 997px) {
  .meaning__info-title {
    font-size: 25px;
  }

  .meaning__info-text {
    max-width: 100%;
  }
}

@media (max-width: 988px) {
  .accordion {
    font-size: 23px;
  }
}

@media (max-width: 984px) {
  .news__title {
    font-size: 44px;

  }

  .news__info-title {
    max-width: 42%;
  }

  .news__wrapper {
    margin-top: 30px;
  }

  .meaning_img {
    margin-top: 40px;
  }
}

@media (max-width: 972px) {
  .cooperation__info-title {
    font-size: 24px;
  }
}

@media (max-width: 930px) {
  .attention__box {
    text-align: inherit;
    padding: 20px 0;
  }
}

@media (max-width: 908px) {
  .project__info-text {
    max-width: 100%;
  }
}

@media (max-width: 843px) {
  .news__title {
    font-size: 36px;

  }

  .questions__item-arrow {
    margin-right: 10%;
  }

  .news__wrapper {
    display: block;
  }

  .news__info-title {
    max-width: 100%;
    margin-bottom: 25px;
  }

  .news__info-text {
    max-width: 100%;
  }

  .container {
    padding: 0 60px;
  }
}


@media (max-width: 786px) {
  .meaning__info-title {
    font-size: 22px;
  }

  .project-arrow {
    bottom: 85px;
  }

  .project-arrow-2 {
    bottom: 89px;
  }

  .project-arrow {
    min-width: 9px;
  }

  .prarr {
    bottom: 44px;
  }
}



@media (max-width: 710px) {
  .cooperation__info-title {
    font-size: 22px;
  }
}

@media (max-width: 700px) {

  .footer {

    margin-top: 100px;
  }

  .why__wrapper {
    display: block;
  }

  .why__item-title {
    font-size: 20px;
  }

  .meaning__wrapper {
    display: block;
  }

  .why__title {
    margin-top: 100px;
  }

  .important {
    margin-top: 100px;
  }

  .meaning__wrapper-number {
    margin-bottom: 40px;
  }

  .meaning__wrapper-info {
    max-width: 100%;
  }

  .btn {
    text-align: center;
  }

  .meaning-btn {
    display: block;
  }

  .rates__box {
    max-width: 100%;
  }

  .rates__wrapper {
    display: block;
  }

  .rates__title {
    margin-top: 20px;
  }

  .rates__title-2 {
    margin-bottom: 0;
  }

  .rates__scheme {
    display: block;
  }

  .rates__scheme-img {
    order: 0;
  }

  .rates__scheme-color {
    display: none;
  }

  .rates__scheme-color-adaptive {
    display: flex;
    margin-top: 40px;
  }

  .color__item-wrapper {
    margin-right: 22px;
  }

  .panel p {
    max-width: 100%;
  }

  .cooperation__wrapper {
    display: block;
  }

  .cooperation__info {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .cooperation__form {
    margin-left: 0;
  }

  .cooperation__info-title {
    font-size: 20px;
  }

  .location__wrapper {
    display: block;
  }

  .location__item-suptitle {
    font-size: 16px;
  }

  .location__item-map {
    iframe {
      height: 300px;
    }
  }

  .form-field-2 .select2-container {
    width: 100% !important;
  }
}



@media (max-width: 687px) {
  .project-arrow-2 {
    bottom: 111px;
  }
}

@media (max-width: 643px) {


  .project__info-text {
    max-width: 80%;
  }

  .project-arrow {
    bottom: 109px;
  }

  .project-arrow-2 {
    bottom: 132px;
  }

  .prarr {
    bottom: 67px;
  }
}


@media (max-width: 640px) {
  .info__number-link a {
    font-size: 36px;
  }

  .info__number-text {
    margin-top: 10px;
    font-size: 20px;
  }
}

@media (max-width: 628px) {
  .header__logo img {
    max-width: 71%;
  }
}

@media (max-width: 617px) {
  .project__info-title a {
    font-size: 20px;
  }

}

@media (max-width: 569px) {
  .questions__item-arrow {
    svg {
      width: 15px;
    }
  }
}

@media (max-width: 583px) {
  .project__info-text {
    max-width: 89%;
  }
}

@media (max-width: 544px) {
  .container {
    padding: 0 25px;
  }

  .attention-text {
    line-height: 21px;
  }

  .btn-form {
    padding: 14px 72px;
  }

  .project-arrow-2 {
    bottom: 109px;
  }
}



@media (max-width: 540px) {
  .questions__item-arrow {
    margin-right: 0%;
    margin-top: 15px;
  }
}

@media (max-width: 529px) {
  .project__info-text {
    max-width: 100%;
  }

  .info__number-text {

    max-width: 100%;
  }
}

@media (max-width: 485px) {


  .prarr {
    bottom: 66px;
  }
}

@media (max-width: 483px) {
  .important__info-text {
    display: none;
  }
}

@media (max-width: 464px) {
  .project__info-text {
    max-width: 100%;
  }

  .project-arrow-2 {
    bottom: 130px;
  }

  .project__info-title {
    max-width: 100%;
  }

}

@media (max-width: 449px) {


  .news__wrapper {
    margin-top: 20px;
  }

  .news__info-title {
    margin-bottom: 10px;
  }
}



@media (max-width: 424px) {
  .important__info-title {
    font-size: 20px;
  }

  .accordion {
    font-size: 16px;
  }

  .questions__item-arrow svg {
    width: 10px;
  }

  .questions__item-arrow {
    margin-right: 0%;
    margin-top: 9px;
  }
}

@media (max-width: 420px) {
  .project-arrow {
    bottom: 132px;

  }

  .project-arrow-2 {
    bottom: 130px;
  }

  .prarr {
    bottom: 95px;
  }

  .header__logo img {
    max-width: 50%;
  }
}

@media (max-width: 401px) {
  .project-arrow-2 {
    bottom: 151px;
  }
}

@media (max-width: 389px) {
  .header__contacts-ticket .btn-header {
    padding: 12px 39px;
  }
}

@media (max-width: 385px) {
  .meaning__number {
    margin-right: 30px;
  }
}

@media (max-width: 382px) {
  .project-arrow {
    bottom: 158px;
  }

  .prarr {
    bottom: 95px;
  }

  .header__logo {
    max-width: 38%;

    img {
      max-width: 76%;
    }
  }
}

@media (max-width: 363px) {
  .project-arrow {
    bottom: 180px;
  }

  .project-arrow-2 {
    bottom: 151px;
  }

  .prarr {
    bottom: 95px;
  }
}

@media (max-width: 362px) {
  .news__title {
    font-size: 30px;
  }

  .meaning__number {
    margin-right: 22px;
  }

  .why__title {
    font-size: 15px;
  }

  .container {
    padding: 0 10px;
  }

  .meaning__info-title {
    font-size: 20px;
  }
}

@media (max-width: 335px) {
  .info__number-link a {
    font-size: 35px;
  }
}



@media(min-width: 1024px) {
  .swiper_cost {
    display: none;
  }
}

.cost__adaptive-item {
  display: none;
}

.cost__adaptive-item.visible {
  display: block;
}

.cost__adaptive-name-title {
  display: none;
}

.cost__adaptive-name-title.visible {
  display: block;
}

.cost__adaptive-all {
  display: none;
}

.cost__adaptive-all.visible {
  display: block;
}




@media (max-width: 1482px) and (min-width: 700px) {
  .select2-dropdown.select-drop-open.select2-dropdown--below {
    width: 427px !important;
  }
}

@media (max-width: 1192px) and (min-width: 700px) {
  .select2-dropdown.select-drop-open.select2-dropdown--below {
    width: 301px !important;
  }
}

@media (max-width: 1087px) and (min-width: 700px) {
  .select2-dropdown.select-drop-open.select2-dropdown--below {
    width: 263px !important;
  }
}
